@model User
@inject TaskService TaskService
@{
    var tasks = new SelectList(TaskService.GetAllUserTaskTitles(User.GetId()), "Id", "Title");
}
<div class="col-md-12 col-sm-12">
    <div class="card">
        <div class="card-header text-left">
            <div class="row">
                <div class="col-md-6">
                    <a asp-controller="Account" asp-action="Profile" asp-route-id="@Model.Id">
                        <u>@Model.GetShortName()</u>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div>@Model.GetShortDescription()</div><br />
            @if( User.GetId().HasValue )
            {
                <button class="btn btn-outline-info" data-toggle="modal" data-target="#task-modal">Предложить задание</button>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="btn btn-outline-info">Предложить задание</a>
            }
        </div>
    </div>
    <br />
</div>

<div class="modal fade" id="task-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Предложить задание</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form asp-action="OfferTask" method="post">
                <div class="modal-body">
                    <select name="taskid" class="form-control" asp-items="tasks">
                        <option value="" selected disabled hidden>Выберите задачу</option>
                    </select>
                    <input name="executorid"  value="@Model.Id" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success" data-dismiss="modal">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>