@inject IExecutorRepository ExecutorRepository

@if( ExecutorRepository.GetAll().Count == 0 )
{
    <h1 class="display-4 text-center">На данный момент список исполнителей пуст</h1>
}
else
{
    <h1 class="display-4 text-center">Список исполнителей</h1>
    <br />
    foreach( var executor in ExecutorRepository.GetAll() )
    {
        <partial name="_ExecutorCard" model="@executor" />
    }
}