@inject IUserRepository UserRepository
@{ 
    var executors = UserRepository.Get( u => u.Id != ViewBag.UserId );
}
@if( executors.Count == 0 )
{
    <h1 class="display-4 text-center">На данный момент список исполнителей пуст</h1>
}
else
{
    <h1 class="display-4 text-center">Список исполнителей</h1>
    <br />
    <div class="d-flex justify-content-center">
        <div class="col-md-8 col-sm-12">
            @foreach( var executor in executors )
            {
                <partial name="_ExecutorCard" model="@executor" />
            }
        </div>
    </div>
}