@model Category
@{
    Layout = "_CrudLayout";
    ViewBag.CurrentBlock = "Add";
}
<div class="card ">
    <h5 class="card-header text-center">Добавление категории</h5>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-dark">Добавить</button>
        </form>
    </div>
</div>
