@model Category
@{
    Layout = "_CrudLayout";
    ViewBag.CurrentBlock = "Add";
    ViewBag.Title = "Новая категория";
}

<div class="card ">
    <h5 class="card-header text-center">Добавление категории</h5>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label>Название категории</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-outline-dark col-md-4 col-sm-4">Добавить</button>
            </div>
        </form>
    </div>
</div>